
.App {

  min-height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;

}
.main{
  padding: 1rem;
  height: 100vh;
}

header {
  top:0;
  align-items: center;
  position: sticky;
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between
}

header h1 {
  color: #2351A3;
  margin: 0.5rem 2rem;
 
}

.sideBar{
  display: none;
}
.menuIcon{
  display: none;
}
.CloseNav{
  display: none;
}

@media (max-width: 1024px) {
  .sideBar{
    text-align: center;
    display: block;
  }
  .menuIcon{
    display: block;
    margin-right: 1rem;
  }
  .CloseNav{
    align-items: center;
   display: flex;
   justify-content: center;
  }
  .close{
    position: relative;
    left: -5rem;
}
  }
